/* COLORS */
/* GRADIENTS */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");
/* PREFIXES */
/* BREAKPOINTS FOR SCREEN SIZES */
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font: 400 16px "Be Vietnam Pro", sans-serif; }
  body #stats-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: #527997; }
    @media (max-width: 899px) {
      body #stats-section {
        height: clamp(30px, 15vh, 60px); } }
    body #stats-section h1 {
      color: #fff; }
    body #stats-section #js-mob-stats-btn {
      display: none;
      align-items: center;
      position: absolute;
      left: 2vw;
      background-color: #527997;
      border: none; }
      @media (max-width: 899px) {
        body #stats-section #js-mob-stats-btn {
          display: grid;
          height: 30px;
          width: max(7vw, 60px); } }
      @media (max-width: 599px) {
        body #stats-section #js-mob-stats-btn {
          height: clamp(20px, 4vh, 30px);
          width: 12vw; } }
      body #stats-section #js-mob-stats-btn * {
        height: 3px;
        background-color: #fff; }
    body #stats-section #js-add-btn {
      display: none; }
  body main {
    display: flex;
    align-items: center;
    height: 100%; }
    @media (max-width: 899px) {
      body main {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: clamp(60px, 17vh, 80px); } }
    body main #js-new-book-card {
      display: none; }

/* BOOK CARD */
article {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-radius: 5px;
  background-color: #e5edf2;
  color: #5d5d5d;
  padding: min(3vh, 20px) 0 0 0; }
  @media (max-width: 899px) {
    article {
      width: clamp(220px, 90%, 620px);
      margin: 2vh; } }
  article * {
    grid-column: 1/2;
    padding-left: min(4vw, 20px);
    margin: min(4px, 1.3vw) 0; }
  article p:first-of-type {
    font-size: 20px;
    color: #527997;
    grid-column: 1; }
  article div:first-of-type {
    grid-column: 2;
    grid-row: 1; }
  article div:last-of-type {
    grid-column: 1/3;
    padding: min(14px, 3vh) 0;
    margin-bottom: 0;
    border-radius: 0 0 5px 5px;
    background-color: #899dab;
    color: #fff; }
    article div:last-of-type .toggle {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      margin: 0 0 0 1rem;
      padding: 0;
      border-radius: 50px;
      background-color: #527997;
      transition: background-color ease 0.3s;
      width: 3.5rem;
      height: 0.7rem; }
      article div:last-of-type .toggle:before {
        content: '';
        display: block;
        position: absolute;
        background: #fff;
        border-radius: 50%;
        transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
        width: 0.56rem;
        height: 0.56rem;
        left: 0.07rem;
        top: 0.07rem; }
      article div:last-of-type .toggle:checked {
        background-color: #487da6; }
      article div:last-of-type .toggle:checked:before {
        left: 2.87rem; }
  article .checked {
    background-image: -webkit-linear-gradient(45deg, #6a9cc3, #82b4bf); }
