/* COLORS */
/* BREAKPOINTS FOR SCREEN SIZES */
body {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  body #stats-section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    background-color: #98b6cd; }
    @media screen and (max-device-width: 599px) {
      body #stats-section {
        height: 10vh;
        width: 100%;
        font-size: 2em; }
        body #stats-section div {
          display: none; }
        body #stats-section button {
          display: none; } }
    body #stats-section h1 {
      display: flex;
      color: white; }
      @media screen and (max-device-width: 599px) {
        body #stats-section h1 {
          margin: 2vh 0 2vh 0;
          font-size: 2.7em; } }
    body #stats-section #js-new-book-card {
      display: none; }
  body main {
    display: flex; }
    @media screen and (max-device-width: 599px) {
      body main {
        flex-direction: column;
        font-size: 3em; } }
    body main #js-new-book-card {
      display: none; }
  body #js-control-btns-phone {
    display: none; }
    @media screen and (max-device-width: 599px) {
      body #js-control-btns-phone {
        display: flex;
        flex-flow: row-reverse wrap-reverse; } }
    body #js-control-btns-phone button {
      position: fixed;
      bottom: 5vh;
      right: 1vh;
      border: none;
      border-radius: 50%;
      width: 7vh;
      height: 7vh;
      background-color: #98b6cd;
      color: #fff;
      font-size: 6em; }
