/* COLORS */
/* GRADIENTS */
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Be+Vietnam+Pro:wght@200;300;400&family=Merriweather:wght@700;900&family=Montserrat:wght@200;300;400&family=Outfit:wght@200;300;400&family=Playfair+Display:wght@700&display=swap");
/* PREFIXES */
/* BREAKPOINTS FOR SCREEN SIZES */
body {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center; }
  body #stats-section {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #7f97aa; }
    body #stats-section h1 {
      display: flex;
      color: #fff; }
    body #stats-section div {
      display: none; }
    body #stats-section button {
      display: none; }
    @media (min-device-width: 900px) {
      body #stats-section h1 {
        color: hotpink;
        background-color: lemonchiffon; } }
    @media (max-device-width: 899px) {
      body #stats-section h1 {
        height: 2vh;
        align-items: center;
        font-size: 5vw; } }
    @media (max-device-width: 599px) {
      body #stats-section h1 {
        height: 4vh;
        font-size: 8vw; } }
  body main {
    display: flex;
    align-items: center; }
    @media (max-device-width: 599px) {
      body main {
        flex-direction: column; } }

/* ADD, SCROLL, STATS BUTTONS */
/* BOOK CARD */
article {
  display: grid;
  margin-top: 9vw;
  border-radius: 5px;
  background-color: #e5edf2;
  font: 300 2.5vh "Outfit", sans-serif;
  color: #5d5d5d; }
  article * {
    padding: 0;
    margin: 1vw 2vw 1vw 2vw; }
  article p:first-of-type {
    font: 400 3vh "Outfit", sans-serif;
    color: #527997; }
  article:first-of-type {
    margin-top: 12%; }
  @media (max-device-width: 599px) {
    article {
      width: 90%; } }
  @media (max-device-width: 599px) and (max-device-width: 319px) {
    article {
      font-size: 6vw; } }

/* FORM FOR ADDING A BOOK */
#js-new-book-card {
  display: none; }
