/* BUTTONS */
#js-control-btns-phone {
    display: none;

    @include for-phone {
        display: flex;
        flex-flow: row-reverse wrap-reverse;
    }

    button {
        // add a new book mobile button
        @include gradient-background($angle: 45deg, $from: $rock-blue, $to: $blue-bell);

        position: fixed;
        bottom: 5vh;
        right: 1vh;

        border: none;
        border-radius: 50%;

        width: 7vh;
        height: 7vh;

        background-color: $rock-blue;
        color: #fff;

        font-size: 6em;

        &:focus,
        &:active {
            @include gradient-background($angle: 45deg, $from: mix($rock-blue, $boston-blue, 55%), $to: mix($blue-bell, $true-v, 35%));
        }
    }
}

article {
    background-color: mix($rock-blue, #fff, 25%);
    border-radius: 15px;

    font-family: $be-vietnam-pro;
    font-weight: $regular;
    color: mix($dove-gray, #000, 85%);

    // remove button
    div:first-of-type {
        grid-area: button;
        justify-self: end;
        width: 5vh;
        background-color: mix($rock-blue, #fff, 25%);

        button {
            $size: 100px;
            
            position: absolute;
            border: none;
            outline: $size * 0.06 solid $rock-blue;
            background-color: mix($rock-blue, #fff, 25%);
            border-radius: 50%;
            height: $size;
            width: $size;
            margin: $size * 0.3 0;

            &:before,
            &:after {
                position: absolute;
                left: 47.8%;
                top:20%;
                content: '';
                height: 60%;
                width: 6%;
                background-color: $rock-blue;
            }

            &:before {
                transform: rotate(45deg);
              }

            &:after {
                transform: rotate(-45deg);
              }

            &:hover {
             display: block;
             @include gradient-background($angle: 45deg, $from: mix($rock-blue, #fff, 75%), $to: mix($blue-bell, #fff, 75%));
             height: $size + $size * 0.06;
             width: $size + $size * 0.06;
             outline: none;
            }

            &:hover:after,
            &:hover:before,
            &:active:before,
            &:active:after,
            &:focus:before,
            &:focus:after {
                background-color: white;
            }

            &:active,
            &:focus {
                @include gradient-background($angle: 45deg, $from: $rock-blue, $to: $blue-bell);
                outline: none;
                height: $size + $size * 0.06;
                width: $size + $size * 0.06;
            }
        }
    }

    /* BOOK CARD */
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
        "p button"
        "p button"
        "p button"
        "check check"
    ; 

    // book title
    p:first-of-type {
        font-weight: $regular;
        color: mix($boston-blue, $dove-gray, 55%);

        @include for-phone {
            //padding-top: 60px;
            padding-top: 4vh;
            padding-bottom: 1.5vh;
            font-size: 4.5rem;
        }
    }

    // book card elements 
    * {
        // wrapper for toggle button
        & div {
            grid-area: check;
    
            //border-radius: 0 0 15px 15px;
            //background-color: pink;
            background-color: gray;
            @include for-phone {
                justify-self: start;
                background-color: gray;
                //height: 100px;
            }
        }
        @include for-phone {
            margin: 0;
            padding: 0.7vh 3vh;
        }
    }

    //first 3 children
    //*:nth-child(-n+3) {}

    // wrapper for toggle button


    //first book card
    &:first-of-type {
        margin-top: 12%;
    }

    @include for-phone {
        margin: 5%;
        width: 90vw;
        font-size: 1em;
    }
}

/* FORM FOR ADDING A BOOK */
#js-new-book-card {
    display: none;
}