/* MOBILE BUTTONS: ADD, SCROLL */
#js-control-btns-phone {
    *{
        position: fixed;
        right: 3%;
    
        padding: 0;
        border: none;
        border-radius: 50%;
    
        background-color: mix($boston-blue, $dove-gray, 55%);
        opacity: 0.5;
    
        $size-parent: 3rem;
        height: $size-parent;
        width: $size-parent;
    }

    #up-btn {
        bottom: 6rem;

        &:before,
        &:after {
            position: absolute;
            top: 33%;

            width: 0.1rem;
            height: 1rem;
            background-color: #fff;
            content: '';
        }

        //slash
        &:before {
            transform: rotate(45deg);
            left: 37.75%;
        }

        //backslash
        &:after { 
            transform: rotate(-45deg);
            right: 37.75%;
        }
    }
    }

    #js-add-btn-phone {
        bottom: 2rem;

        &:before,
        &:after {
            position: absolute;
            top: 33%;
            content: '';

            background-color: #fff;

            $size-parent: 3rem;
            $width: 0.1rem;
            $height: 1.4rem;

            width: $width;
            height: $height;

            left: ($size-parent - $width) / 2;
            top: ($size-parent - $height) / 2;
        }

        //vertical line 
        &:before {
            transform: rotate(180deg);
        }

        //horizontal line
        &:after {
            transform: rotate(90deg);
        }
}

/* BOOK CARD */
article {
    display: grid;
    grid-template-columns: 4fr 1fr;

    border-radius: 5px;
    background-color: mix($rock-blue, #fff, 25%);
    color: mix($dove-gray, #000, 85%);

    padding: #{"min(3vh, 20px)"} 0 0 0;

    @include for-tablet-landscape {
        width: 70%;
    }

    @include smol-bean;
    @include for-phone;
    @include for-phone-landscape;
    @include for-tablet-portrait {

        width: #{"clamp(220px, 90%, 620px)"};
        margin: 2vh;
    }

    * {
        grid-column: 1/2;
        padding-left: #{"min(4vw, 20px)"};
        margin: #{"min(4px, 1.3vw)"} 0;
    }

    //book title
    p:first-of-type {
        font-size: 20px;
        color: mix($boston-blue, $dove-gray, 55%);
        grid-column: 1;
    }

    //remove button wrapper
    div:first-of-type {
        grid-column: 2;
        grid-row: 1;
        margin: 0;
        padding: 0;

        button {
            display: grid;
            position: absolute;
            padding: 0;
            margin: 0 0 0 12%;

            $size: 1rem;
            width: $size;
            height: $size;

            border: none;
            background-color: mix($rock-blue, #fff, 25%);

            &:before,
            &:after {
                position: absolute;
                content: "";
                background-color: mix($boston-blue, $dove-gray, 55%);
                height: 140%;
                width: 0.1rem;
            }
    
            &:before {
                transform: rotate(45deg);
            }
    
            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    //toggle wrapper
    div:last-of-type {
        grid-column: 1/3;

        padding: #{"min(14px, 3vh)"} 0;
        margin-bottom: 0;
        border-radius: 0 0 5px 5px;

        background-color: mix($rock-blue, $dove-gray, 65%);
        color: #fff;

        .toggle{
            @include prefix('appearance', 'none');
            position: relative;
            margin: 0 0 0 1rem;
            padding: 0;
            border-radius: 50px;
            background-color: mix($boston-blue, $dove-gray, 55%);
            transition: background-color ease 0.3s;

            //wow. if I set toggle's sizes in rem, it seems that I don't have to specify them for every breakpoint
            $size: 0.8rem;

            width: $size * 4;
            height: $size;

            //this round thingy 
            &:before {
                content: '';
                display: block;
                position: absolute;

                background: #fff;

                border-radius: 50%;
                transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;

                width: $size * 0.8;
                height: $size * 0.8;
                
                left: ($size - $size * 0.8) / 2;
                top: ($size - $size * 0.8) / 2;
            }

            &:checked {
                background-color: mix($boston-blue, $dove-gray, 75%);
            }
            //round thingy when checked
            &:checked:before {
                left: $size * 4 - ($size * 0.8 + (($size - $size * 0.8) / 2));
            }
        }
    }

    //add gradient when checked
    .checked {
        @include gradient-background($angle: 45deg, $from: mix($boston-blue, $rock-blue, 50%), $to: $neptune);
    }
}

/* ADD NEW BOOK CARD */ 
#js-new-book-card {
    display: none;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 16% repeat(4, 15%) 24%;

    position: fixed;
    z-index: 2;

    height: #{"clamp(266px, 40%, 300px)"};
    width: #{"min(480px, 88vw)"};

    margin: 5vw;
    padding: 0.7vw 3vw 3vw 3vw;

    background-color: mix($boston-blue, $dove-gray, 55%);
    border-radius: 5px;
    color: #fff;

    @include for-phone-landscape {
        margin-top: 0;
        top: 0;
    }

    * {
        display: grid;
    }

    //title
    p { 
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 0;
        font-size: 18px;
    }

    label {
        grid-column-start: 1;
        grid-column-end: 3;

        &:last-of-type {
            //grid-template-columns: 1fr 1fr;
            display: inline-flex;
            align-items: center;
            //padding-top: 10px;
        }
    }

    input {
        margin: 1.5vw 0;
        font: 14px $be-vietnam-pro;
        padding: 0.5vw 2vw;
        padding: 0.4rem 6px;
        //padding: 2vw;
    }

    #js-have-read {
        margin: 0 0 0 3vw;
    }

    button { 
        justify-self: center;
        align-content: center;

        height: 50px;
        width: 90%;
        margin-top: 1.5vw;

        background-color: mix($boston-blue, $dove-gray, 55%);
        border: 2px solid $catskill-white;
        border-radius: 5px;

        color: $catskill-white;
        font: 16px $be-vietnam-pro;
    }

    #js-submit-book-card {
        background-color: $boston-blue;
    }
}

/* DIV THAT DARKENS A PAGE WHEN THE FORM FOR ADDING A BOOK IS OPENED */
#js-page-opaque {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: mix($boston-blue, #000, 15%);
    opacity: 0.8;
}