/* COLORS */
$pigeon-post: hsl(206, 42%, 77%);
$rock-blue: hsl(206, 34%, 70%);

@mixin gradient-text($angle, $from, $to) {
    background: -webkit-linear-gradient($angle, $from, $to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* BREAKPOINTS FOR SCREEN SIZES */
@mixin for-phone {
    @media screen and (max-device-width: 599px) { @content; }
}

@mixin for-tablet-portrait {
    @media (min-device-width: 600px) { @content; }
}

@mixin for-tablet-landscape {
    @media (min-device-width: 900px) { @content; }
}

@mixin for-desktop {
    @media (min-device-width: 1200px) { @content; }
}

@mixin for-big-desktop {
    @media (min-device-width: 1800px) { @content; }
}