/* COLORS */
$pigeon-post: hsl(206, 42%, 77%);
$rock-blue: hsl(206, 34%, 70%);
$boston-blue: hsl(206, 51%, 48%);
$blue-bell: hsl(248, 34%, 70%);
$dove-gray: hsl(0, 0%, 43%);
$hippie-blue: hsl(191, 32%, 54%);
$neptune: hsl(191, 32%, 63%);


/* GRADIENTS */
@mixin gradient-text($angle, $from, $to) {
    background: -webkit-linear-gradient($angle, $from, $to);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient-background($angle, $from, $to) {
    background-image: 
    -webkit-linear-gradient($angle, $from, $to);
}

@mixin gradient-border($angle, $from, $to, $width) {
    border-left: $width solid $from;
    border-right: $width solid $to;
    background-image:
      // Needed for both the top and bottom borders
      -webkit-linear-gradient($angle, $from, $to),
      -webkit-linear-gradient($angle, $from, $to);
    background-size: 100% $width;
    background-position: 0 100%, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
  }

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Be+Vietnam+Pro:wght@200;300;400&family=Merriweather:wght@700;900&family=Montserrat:wght@200;300;400&family=Outfit:wght@200;300;400&family=Playfair+Display:wght@700&display=swap');

$be-vietnam-pro: 'Be Vietnam Pro', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$outfit: 'Outfit', sans-serif;

$arvo: 'Arvo', serif;
$merriweather: 'Merriweather', serif;
$playfair-display: 'Playfair Display', serif;

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

/* PREFIXES */

@mixin prefix($key, $value) {
    $prefixes: '-webkit-', '-moz-', '-ms-', '-o-', '';

    @each $prefix in $prefixes {
        #{$prefix}#{$key}: #{$value};
    }
}

/* BREAKPOINTS FOR SCREEN SIZES */
@mixin smol-bean {
    @media (max-device-width: 319px) { @content; }
}

@mixin for-phone {
    @media (max-device-width: 599px) { @content; }
}

@mixin for-tablet-portrait {
    @media (max-device-width: 899px) { @content; }
}

@mixin for-tablet-landscape {
    @media (min-device-width: 900px) { @content; }
}

@mixin for-desktop {
    @media (min-device-width: 1200px) { @content; }
}

@mixin for-big-desktop {
    @media (min-device-width: 1800px) { @content; }
}