body {
   display: flex;
   flex-direction: column;
   justify-content: center;

    #stats-section {
        display: flex;
        justify-content: center;
        background-color: mix($rock-blue, #000, 83%);

        h1 {
            display: flex;
            color: #fff;
        }

        div {
            display: none;
        }
        
        button {
            display: none;
        }

        @include for-big-desktop;
        @include for-desktop;
        @include for-tablet-landscape {
            h1 {
                color: hotpink;
                background-color: lemonchiffon;
            }
        }

        @include for-tablet-portrait {
            h1 {
                height: 2vh;
                align-items: center;
                font-size: 3em;
            }
        }

        @include smol-bean;
        @include for-phone {
            h1 {
                height: 4vh;
                font-size: 5em;
            }
        }
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include smol-bean {}
    @include for-tablet-portrait {}
    @include for-tablet-landscape {}
    @include for-desktop {}
    @include for-big-desktop {}
}