body {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    // there was a problem with the body not filling up the page width; it was 
    // resolved with setting margin as 0
    margin: 0;
    font: $regular 16px $be-vietnam-pro;

    #stats-section {
        display: flex;
        justify-content: center;
        align-items: center;

        position: fixed;
        background-color: mix($boston-blue, $dove-gray, 55%);

        @include for-big-desktop;
        @include for-desktop;
        @include for-tablet-landscape {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            position: fixed;
            height: 100%;
            width: #{"clamp(180px, 15vw, 220px)"};
        }

        @include smol-bean;
        @include for-phone;
        @include for-phone-landscape;
        @include for-tablet-portrait {
            height: #{"clamp(30px, 15vh, 60px)"};
            width: 100vw;
        }

        h1 { 
            color: #fff;

            @include for-big-desktop;
            @include for-desktop;
            @include for-tablet-landscape {
                height: #{"max(220px, 20vh)"};
                margin-left: #{"min(25px, 2vw)"};
            }
        }

        //hamburger menu
        #js-mob-stats-btn {
            display: none;
            align-items: center;
            position: absolute;
            left: 2vw;
            background-color: mix($boston-blue, $dove-gray, 55%);
            border: none;

            @include for-phone-landscape;
            @include for-tablet-portrait {
                display: grid;

                height: 30px;
                width: #{"max(7vw, 60px)"};
            }

            @include smol-bean;
            @include for-phone {
                height: #{"clamp(20px, 4vh, 30px)"};
                width: 12vw;
            }

            * {
                height: 3px;
                background-color: #fff;
            }
        }

        //div with stats
        #js-stats {
            display: none;
            position: absolute;
            top: 0;
            left: 0;

            color: #fff;

            @include for-big-desktop;
            @include for-desktop;
            @include for-tablet-landscape {
                display: grid;
                margin: 9vh #{"min(25px, 2vw)"};
            }

            @include smol-bean;
            @include for-phone;
            @include for-phone-landscape;
            @include for-tablet-portrait {
                margin-top: #{"clamp(30px, 15vh, 60px)"};
                padding: 2vw 0;

                background-color: mix($boston-blue, $dove-gray, 55%);
                opacity: 0.9;
                font-size: 14px;
    
                * {
                    margin: #{"min(1.5vw, 9px)"} 3vw;
                }
            }
        }

        #js-add-btn {
            display: none;

            @include for-big-desktop;
            @include for-desktop;
            @include for-tablet-landscape {
                display: grid;
                align-self: center;
                width: #{"clamp(140px, 80%, 180px)"};
                padding: #{"min(1.5vw, 15px)"} 0;

                background-color: mix($boston-blue, $dove-gray, 55%);
                border: 2px solid #fff;
                border-radius: 5px;
                color: #fff;
                font-size: 16px;
            }
        }
    }
    
    main {
        display: flex;
        align-items: center;

        height: 100%;

        @include for-tablet-landscape {
            flex-wrap: nowrap;
            flex-direction: column;
            margin-left: #{"clamp(180px, 15vw, 220px)"};
        }

        @include for-big-desktop;
        @include for-desktop {
            flex-wrap: wrap;
            flex-direction: row;
            place-content: start;
            padding: 0 4vw;
        }

        @include smol-bean;
        @include for-phone;
        @include for-phone-landscape;
        @include for-tablet-portrait {
            flex-wrap: nowrap;
            flex-direction: column;

            margin-top: #{"clamp(60px, 17vh, 80px)"};
        }
    }
}